.dialog_container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
    .dialogue_list{
        flex: 0 0 45%;
        padding: 0px 40px 0px 5px;
        border-right: 2px solid cornflowerblue;
    }
        .dialogue{
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-bottom: 10px;
            margin: 10px 0px;
            border-bottom: 1px solid grey;
        }