.appNav {
    grid-area: app_nav;
    padding: 10px;
}

.item {
    margin: 10px 0px;
    display: flex;
    align-items: center;

}

.link {
    text-decoration: none;
    color: black;
    display: block;
}

.active {
    color: cornflowerblue;
    text-decoration: none;
}

.navigationIcon {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    display: block;
    background-image: url("https://icon-library.com/images/android-style-icon/android-style-icon-20.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
