.dialogue_body {
    border-left: 1px solid lightsteelblue;
    overflow-y: scroll;
}

.message {
    display: flex;
    padding: 15px;
    margin: 15px;
    border: 1px solid grey;
    align-items: flex-start;
}

.userAvatar {
    flex: 0 0 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.message_content {
    margin: 0px 10px;
}

.reply_message {
    flex-direction: row-reverse;
}