.user_post_wrapper{
    width: 100%;
    background-color: white;
    margin: 10px 0px 0px;
    padding-bottom: 20px;
}

    .new_post_container{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
        .new_post{
            flex: 0 0 65%;
            height: 50px;
            resize: none;
            outline: none;
            border-radius: 5px;
            padding: 5px 10px;
        }
        .add_post{
            padding: 10px 0px;
            flex: 0 0 20%;
            background-color: cornflowerblue;
            color: white;
            outline: none;
            border-radius: 5px;
            border: 0px;
            cursor: pointer;
        }
    hr{
        margin-top: 15px;
    }

